/* colours */
--davys-grey: #50514fff;
--orange-red-crayola: #f25f5cff;
--naples-yellow: #ffe066ff;
--cg-blue: #247ba0ff;
--green-sheen: #70c1b3ff;

@font-face {
  font-family: "ABCSansNova-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSansNova-Regular"), url("../fonts/ABCSansNova-Regular.otf") format("woff");
}
@font-face {
  font-family: "ABCSansNova-Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSansNova-Black"), url("../fonts/ABCSansNova-Black.otf") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSansNova-Black", "Arial Black", Helvetica, sans-serif;
}
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
h1 {
  margin: 0;
  text-align: center;
  color: #50514fff;
  margin-bottom: 1rem;
}
#container {
  position: absolute;
  top: 1.5rem;
  bottom: .5rem;
  left: .5rem;
  right: .5rem;
  display: flex;
  flex-flow: column;
  justify-content: top;
}
#egg {
  fill: #f25f5cff;
}
.frame {
  border: solid 2px #50514fff;
  display: none;
}
.frame.selected {
  display: block;
}
#next {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 1.5rem;
  text-align: center;
  padding: .25rem 1rem;
  color: white;
  background: #247ba0ff;
  border-radius: .5rem;
  opacity: 0;
  cursor: pointer;
}
.findMe {
  margin-top: .75rem;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  padding: .25rem;
  color: white;
  font-weight: bold;
  font-family: "ABCSansNova-Regular", Helvetica, sans-serif;
  background: #f25f5cff;
  border-radius: .5rem;
  cursor: pointer;
  display: none;
}
.findMe.selected {
  display: block;
}
#textField {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: center;
  padding: .25rem;
  color: #50514fff;
  background: #ffe066ff;
  border-radius: .5rem;
  cursor: pointer;
  font-family: "ABCSansNova-Black", "Arial Black", Helvetica, sans-serif;
}
#solveMe {
  margin-top: .75rem;
  text-align: center;
  padding: .25rem .5rem;
  font-family: "ABCSansNova-Regular", Helvetica, sans-serif;
  background: #f25f5cff;
  border-radius: .5rem;
  font-weight: bold;
}
p {
  color: white;
  font-size: 1.1rem;
  margin: 0 0 .5rem 0;
}
p:last-child {
  margin-bottom: 0;
}
